/* Main */
#c_widget {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
}

#c_widget button, #c_widget input[type=submit] {
    padding: 4px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
	text-align: center;
    text-transform: uppercase;
}

#c_widget button:hover, #c_widget input[type=submit]:hover {
    /* color: white;
    border: 1px solid #B766FF; */
}
#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}
#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    /* color: #B766FF;
    border: 1px solid white; */
}

/* Input section */
#c_inputDiv {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid white;
}

#c_widgetTitle {
    margin: -10px;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    text-align: right;
}

.c-inputWrapper {
    display: block;
    text-align: right;
}
.c-input {
    padding: 4px;
    color: black;
	outline: none;
}
.c-input:focus {border: 1px solid #B766FF;}

.c-textInput {
    width: calc(100% - 10px);
    max-width: 900px;
    resize: none;
}
#c_submitButton {
    display: block; 
    margin-left: auto; 
    margin-right: 0;
}
#c_replyingText {
    color: #222;
    text-align: right;
}

/* Comment section */
.c-comment {
    margin-bottom: 15px;
    padding: 10px;
}
.c-reply {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
}
.c-reply:last-child {margin-bottom: 0;}
.c-replyContainer {
    margin: -10px;
    margin-top: 10px;
    padding: 10px;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.c-site {
    text-transform: uppercase;
    text-decoration: none;
}

.c-timestamp {
    float: right;
    opacity: 75%;
}
.c-text {
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #222;
}

/* Pagination */
#c_pagination {text-align: center;}
.c-replyButton {
    margin-top: 10px;
    margin-right: 4px;
}
.c-expandButton {
    margin-top: 10px;
    margin-left: 4px;
}
.c-paginationButton {
    margin-right: 4px;
    margin-left: 4px;
}