:root {
    /**
     * By now you should be a bit familiar with CSS variables from the main site styles
     * (https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties) 
     */
    --comment-title-font: 'IM Fell English', serif;
    --comment-text-font: 'Lato', sans-serif;
    --comment-text-color: #222;
}

/* Main */
#c_widget {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 20px;
    font-family: var(--comment-text-font);
    font-size: 16px;
    color: var(--comment-text-color);
}

#c_widget button, #c_widget input[type=submit] {
    padding: 4px;
    font-family: var(--comment-title-font);
    text-decoration: none;
	text-align: center;
}

#c_widget input[type=submit] {
    text-transform: uppercase;
}

#c_widget button:hover, #c_widget input[type=submit]:hover {
    opacity: 0.8;
}

#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}

/* Input section */
#c_inputDiv {
    margin-bottom: 15px;
    padding: 10px 10px 10px 0;
}

#c_widgetTitle {
    margin: -10px;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

.c-inputWrapper {
    display: block;
}

#c_nameWrapper, #c_websiteWrapper {
    display: inline-block;
}

.c-label {
    display: block;
    font-family: var(--comment-title-font);
    text-transform: uppercase;
}
.c-websiteLabel span {
    text-transform: lowercase;
    opacity: 0.7;
    font-size: 0.9rem;
}
.c-input {
    padding: 4px;
    color: var(--comment-text-color);
	outline: none;
}

.c-textInput {
    width: calc(100% - 10px);
    max-width: 900px;
    resize: none;
}

#c_replyingText {
    color: var(--comment-text-color);
}

/* Comment section */
.c-comment {
    margin-bottom: 15px;
    border-left: 3px solid #d2d2d2;
    padding: 0 0 0 15px;
}
.c-reply {
    display: block;
    width: 97%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
}
.c-reply:last-child {margin-bottom: 0;}
.c-replyContainer {
    margin: -10px;
    margin-top: 10px;
    padding: 10px;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
}

.c-site {
    text-decoration: none;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.c-timestamp {
    opacity: 75%;
    font-size: 0.7rem;
    display: block;
}
.c-text {
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    font-family: var(--comment-text-font);
    font-size: 1rem;
    text-align: justify;
    color: var(--comment-text-color);
}

/* Pagination */
#c_pagination {text-align: center;}
.c-replyButton,
.c-expandButton {
    margin-top: 10px;
    margin-right: 4px;
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
}

.c-expandButton {
    margin-left: 30px;
}

.c-paginationButton {
    margin-right: 4px;
    margin-left: 4px;
}