/**
 * @import lets you break up your CSS into multiple files; I use it here to
 * seperate the reset settings from the rest of the styles and to import the comments styles.
 */
@import "/css/reset.css";
@import "/css/comments.css";

/* GLOBAL */

:root {
  --pg-width: min(64rem, 1000px);
  /* page width for double/spread pages that are one page */
  --double-pg-width: min(84rem, 100%);

  /* universal background color */
  --bg-color: #f1ece4;
  /* the colour of links */
  --link-color: #222;
  /* link colours when hovered over */

  --text-color: #222;

   /**
  * I recommend not changing this, UNLESS you are getting rid of the paper tear effect
  * If you DON'T want the paper tear effect remove from PAPER TEAR BEGIN to PAPER TEAR END
  * Roughly lines 149-172 of this file, although that might move a bit as things get added.
  **/
  --content-bg: var(--color-content-background);
}


:root {
  --border-radius: 12px;
  --body-font: 'Comic Neue', sans-serif;
  --title-font: 'Darumadrop One', sans-serif;
}

:root, 
[data-selected-theme="dark"] {
  --color-background: #101325;
  --color-content-background: #21274b;
  --color-foreground: #5b7a8c;
  --color-foreground-text: #f7f5dd;
  --color-body-text: #eaebf0;
  --color-accent: #34386e;
  --color-accent-alt:#c54264;
  --color-accent-alt2: #976b7e;
  --color-accent-link: #ff4586;

  --link-color-hover: #eaebf0;
  --background-image: url("/img/hip-square-dark.png");
  --notes:#eaebf08a;
}

[data-selected-theme="light"] {
  --color-background: #f7e7de;
  --color-content-background: #f7e7de;
  --color-foreground: #5b7a8c;
  --color-foreground-text: #f7e7de;
  --color-body-text: rgba(39, 35, 37, 1);
  --color-accent: #5b7a8c;
  --color-accent-alt: #bd3b3b;
  --color-accent-alt2: #c8cecf;
  --color-accent-link: #5b7a8c;

  --link-color-hover:rgba(39, 35, 37, 1);
  --background-image: url("/img/hip-square.png");
  --notes:rgba(39, 35, 37, .75);
}




body {
  background-color: var(--bg-color);
}

/* link colors */


/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
   /**width: var(--pg-width);*/
   width:100%;
  margin: 2rem auto 0 auto;
}

header nav {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  border-width: 1px 0;
  padding: 10px;
}

nav a {
  color: var(--color-foreground-text);
}

/* FOOTER */

footer p {
  margin: auto;
}

/* COMIC */
.comic h1 {
  text-align: center;
  margin: 1rem 0;
}

/* style comic page image */
#comicPage {
  margin: 3rem auto 0 auto;
  width: var(--pg-width);
  padding: 20px;
  max-width: 100%;
}

.double-page #comicPage {
  width: var(--double-pg-width);
}

#comicPage img {
  display: block;
  margin: 0 auto;
}

/* Don't remove this bit though */
.paperDiv {
  background: var(--content-bg);
  position: relative;
  width: var(--pg-width);
}

.paperDiv::before {
  transform: scaleY(-1);
  bottom: 100%;
}

.paperDiv::after {
  top: 100%;
}
/* PAPER TEAR END - stop removing here */

/* style nav button images */
.comicNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  gap: 10px;
}
.comicNav img {
  width: 90px;
}

/* style author notes */
.authorNotes {
  margin: auto;
  width: var(--pg-width);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0px 0px 12px 12px;
  max-width: 98%;
}

.authorNotes-date {
  color: var(--notes);
  font-size: 0.9rem;
  margin-top: -5px;
  margin-bottom: 1rem;
}

/* SUBPAGES */

.subPage {
  width: var(--pg-width);
  max-width: 98%;
  margin: 3rem auto 0;
  padding: 1rem 3rem 2rem;
}


/* character page */
.character,
.chapter-container {
  display: grid;
  grid-template-columns: 20% 60%;
  gap: 1rem;
  margin: 1rem auto 2rem;
  @media (max-width: 800px) {
    justify-content: center;
 }
}

.character h2 {
  margin-bottom: 1rem;
text-align: left;
@media (max-width: 800px) {
    text-align: center;
 }
}

.character picture,
.character img {
  width: 100%;
  max-width: 150px;
}

/* archive */
.archive-select {
  width: min(400px, 98%);
}

.chapter {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.25rem;
}
.chapter h3 {
    margin: 0;
}
.chapter-img {
  width: min(200px, 98%);
}
.chapter-container { 
  grid-template-columns: 20% 60%;
}

.chapter img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/**
  * MOBILE STYLES
  * This basically says to apply these changes if the window screen is 700px or smaller
  *
**/
@media screen and (max-width: 700px) {
  .subPage {
    padding: 1rem 1rem 2rem;
  }

  #comicPage {
    padding: 20px 0;
  }

  .character,
  .chapter-container {
    grid-template-columns: 100%;
    gap: 0rem;
    justify-content: center;
    place-content: center;
  }

  :root {
    --pg-width: min(100%);
  }
}




img {
  max-width: 100%;
  height: auto;
}

#comicPage {
  justify-content: center;
  display: flex;
}

.buttons {display:flex;
flex-direction: column;
margin: 0 0 10px 10px;
padding: 10px;
justify-content: center;
position: fixed;
text-align: center;
bottom:5px;
border-radius: var(--border-radius);
z-index: 2;
color: var(--color-body-text);
opacity: 75%;
transition: all .3s;
}

.buttons span {
  background: var(--background-image);
  border-radius: 1rem;
}

.buttons:hover {
  opacity: 100%;
}

.theme-switcher {
  display: flex;
  justify-content: center;
}

button[data-theme] {
  margin: 0;
  padding: 5px;
  border: none;
  background: var(--color-background);
  font-size: inherit;
  color: var(--color-body-text);
  border: 2px solid var(--color-body-text);
}

button[data-theme]+button[data-theme] {
  border-left: none;
}

button[data-theme]:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

button[data-theme]:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

button[data-theme][aria-pressed="true"] {
  background-color: var(--color-body-text);
  color: var(--color-background);
}

button[data-theme]:is(:hover, :focus) {
  box-shadow: 0 0 0 2px var(--color-body-text) inset;
}

button[data-theme][aria-pressed="true"]:is(:hover, :focus) {
  box-shadow: 0 0 0 2px var(--color-background) inset;
}

body,
div,
main,
section,
article {
  box-sizing: border-box;
  font-family: var(--body-font);
}

/* universal background color */
body {
  cursor: url("https://scumsuck.com/images/maplestory2.gif"), auto;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background: var(--color-background);
  background-image: var(--background-image);
  line-height: 125%;
  text-align: left;
  color: var(--color-body-text);
}

p {
  margin-bottom: 1em;
  font-size: 1.25em;
} 

blockquote {
  border: 1px solid var(--color-accent);
  padding: 2%;
  border-radius: 10px;
  background-color: var(--color-background);
}

.author-name {
  text-decoration: underline;
}

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

span.spoilers {
  color: black;
  background: black
}

span.spoilers:hover {
  color: white;
  background: black;
}

/* clearfix hack to prevent image overflow. check out the W3Schools page on it. */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*FONTS*/

/* Format headers */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}

/* Prevent long strings from overflowing container */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

/* header font */
#showComic,
header,
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  text-align: center;
}

h5 {
  margin: 0px;
  padding: 0px;
  color: var(--color-accent);
  font-family: var(--body-font);
}

h1 {
  background-color: var(--color-accent);
  color: var(--color-foreground-text);
  margin: auto;
  width: 1000px;
  max-width: 98%;
  font-weight: 100;
  line-height: 150%;
  border-radius: 10px 10px 0px 0px;
}

h2 {
  color: var(--color-accent-alt);
  text-decoration: underline;
}

/* body font */
.subPage p,
#authorNotes,
.archiveTable {
  text-align: left;
}

/* STYLING FOR SUBPAGES (about, characters, etc) */

/*general*/

.subPage {
  max-width: 98%;
  margin: auto;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--color-content-background);
  display: block;
  overflow:auto;
}

.subPage:not(.archivePage) {
  text-align: left;
}

/* for pictures displayed to the left */
.leftPic {
  clear: left;
  float: right;
  margin-left: 20px;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.rightFloat {
  clear: right;
  float: left;
height: auto;
  margin-right: 20px;
  max-height: 300px;
  width: auto;
}

/* for pictures displayed to the left */
.rightPic {
  clear: right;
  float: left;
  margin-left: 20px;
  max-width: 250px;
  height: auto;
  border-radius: 100%;
  border: 3px dashed var(--color-accent);
  background-color: var(--color-content-background);
  @media (max-width: 800px) {
    margin:auto;
 }
}

/* specific to Characters */
.charTable,
.charTable td {
  width: 100%;
}

/* link colors */
a {
  color: var(--color-accent-link);
}
a:hover {
  color: var(--link-color-hover);
}


p a:hover, li a:hover  {
color: var(--color-accent-link);
  cursor: url("https://scumsuck.com/images/maplestory.png"), auto;
  text-decoration: none;
}

footer a:hover{
  color: var(--color-accent);
  background:var(--color-foreground-text);
  text-decoration: underline dashed;
}


/* HEADER */
header #nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  max-width: 1000px;
  width: 98%;
  margin: auto;
  padding: 10px;
}

/* header image */
header img {
  max-width: 100%;
}



.banner {
  display: flex;
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  border: 1px solid var(--color-accent);
  justify-content: center;
  height: auto;
  overflow: hidden;
}

.banner img {
  width: 100%;
}

.writePageNote {
  margin: auto;
  margin-top: 10px;
  margin-bottom:1em;
  text-align: center;
  padding: 10px;
  background-color: var(--color-accent-alt);
  max-width: 500px;
  width: 98%;
  border-radius: 30px;
  color: var(--color-foreground-text);
  overflow: hidden;
}

/* HOMEPAGE */

/* style nav button images */
.comicNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.comicNav img {
  width: 100px;
  max-width: 98%;
}

nav a, .comicNav a img {  --stroke-pos: 1px;
  --stroke-neg: -1px;
  --stroke-color: var(--color-foreground-text);
  filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color))}

  
nav a:hover, .comicNav a img:hover {
--stroke-color: var(--color-accent-alt2);
transform: scale(.90);
}

/* style comic page image */
.comicPage img {
  width: 1000px;
  max-width: 98%;
}

/* style author notes */
#authorNotes {
  background-color: var(--color-content-background);
  outline: 3px solid var(--color-content-background);
  border: 2px dashed var(--color-accent);
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 800px;
  max-width: 98%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  line-height: 1.5em;
}

h1 {    margin-top:1rem;
  padding-bottom:.5rem;}

/*shadow*/
#authorNotes,
.comicPage img,
.writePageNote {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header img:hover {
  opacity: .9;
}

/* ARCHIVE PAGE */

/* style table in which archive is displayed */
.archiveTable {
  width: 98%;
  border-collapse: collapse;
}

/* style archive table cells */
.archiveTable td {
  padding: 5px;
  vertical-align: center;

}

.archiveRow {
  color: var(--color-foreground-text);
  border-bottom: 1px dashed var(--color-accent-alt2);
}

/* style table cell in which page title is displayed */
.archiveCellTitle:not(.leftAlignTableText) {
  max-width: 300px;
  text-align: center;
}

.archiveCellDate {
  text-align: right;
  min-width: 120px;
}

.archiveCellNum {
  text-align: center;
  min-width: 30px;
}

/* style the thumbnails on the archive page */
.archiveCellThumb {
  max-width: 50px;
}

.archiveCellThumb img {
  max-width: 100%;
  width: 100%;
  border-radius: 100%;
  border: 2px solid var(--color-accent);
}

/* for left aligning the text in a table cell */
.leftAlignTableText td {
  text-align: left;
}

/* highlight a table row and make pointer into hand when moused over */
.archiveRow:hover {
  background-color: var(--color-accent-alt);
  color: var(--color-background);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 1px;
  background-color: var(--color-accent);
  color: var(--color-foreground-text);
  margin: auto;
  padding: 2em;
  padding-bottom:5em;
  width: 100%;
  font-size:.8rem;
gap:1em;
text-align: center;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.social-media img {
  max-height: 50px;
  width: auto;
  aspect-ratio: 1;
}

footer ul {  
  margin: 0;
  padding: 0;
  list-style: none;
text-align: left;
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
}



.blurb { margin: auto; padding: 1em;}

.social-media img {padding: .25em;}

footer a {
  color: var(--color-foreground-text);
}

footer a img{
  filter: none;
}

.rss {
  margin-right:5px;
}


/* take away margins from the edges of the screen */
html,
body {
  margin: 0;
  font-size: 100%;
}

/*header nav code*/

nav {
  z-index: 99;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navlink a {
  color: white;
  text-decoration: none;
}

.navlink a:visited {
  color: white;
  text-decoration: none;
}


.navlink {
  text-align: center;
  color: white;
  display: block;
  margin: 5px 15px 10px 10px;
  font-weight: bolder;
}


hr.dotted {
  border-top: 1px dashed var(--color-accent);
}

summary {
  transition: all 0.2s;
}

summary:hover {
  color: var(--color-accent);
  transition: all 0.2s;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  gap: 1.5rem;
}

/* The Picture Frame */
.gallery-frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  padding: 5px;
  border: 2px dashed var(--babyblue);
  border-radius: 12px;
  margin-top: 12px;
}

.gallery-img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  object-position: bottom;
  object-fit: cover;
  aspect-ratio: 1/1;
  border: 2px solid var(--babyblue);
  background-color: var(--babyblue);
  border-radius: 100%;
}

figure {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}