---
layout: layouts/page.liquid
title: Archive
---
<!--
Writing sections of the archive involves including the `chapter.liquid` 
component onto the page. Including it requires two variables...
thumbnails: A boolean indicating whether you want thumbnails
collection: The comic (chapter) collection you want to display; if you gave a
page a tag in its front matter, that tag becomes a collection you can point to

For more information on collections, see https://www.11ty.dev/docs/collections/
--><h2>Chronological Order</h2>

{% comment %} if you don't want the dropdown page selection, start deleting from below... {% endcomment %}
<script>
    function changePage(slug){
        if (slug != "") {
            window.location.pathname = slug;
        }

        return;
    }
</script>
<select class="archive-select" name="comic" onchange="changePage(this.value)">
    <option value="" disabled selected>Select a comic...</option>
    {% for item in collections.comic -%}
        <option value="{{ item.url }}">{{ item.date | date: "%b %d, %Y" }} - {{ item.data.title }}</option>
    {%- endfor %}
</select>
{% comment %} ...and stop deleting from above (so everything between these comments) {% endcomment %}

{% assign chapters = collections | chapters %}


{% comment %} 
TO DO: explain the options here
{% endcomment %}
{% render 'chapter.liquid', thumbnails: false, collection: collections chapters: chapters %}

{% comment %} 
{% render 'chapter.liquid', thumbnails: true, collection: collections %}
{% endcomment %}
