---
title: Characters
layout: layouts/page.liquid
---
<p>All of these sub pages are just supposed to be examples of what you could do, you're definitely encouraged to mess around with them and come up with something better</p>
<div class="characters">
  <!-- Vasilisa -->
  <div class="character">
    <img
    src="/img/characters/vasilisa.jpg"
    alt="Vasilisa"
    class="clearfix rightPic" />
    <div>
      <h2>Vasilisa</h2>
      <p>Vasilisa dreams of running away and starting a new, boring life. She's just an average girl — not a witch!</p>
    </div>
  </div>
  </div>
  <!-- Jakub -->
  <div class="character">
  <img
    src="/img/characters/jakub.jpg"
    alt="Jakub"
    class="clearfix rightPic" />
  <div>
    <h2>Jakub</h2>
    <p>Childhood and best friend to Vasilisa.</p>
  </div>
  </div>
  <!-- Mateusz -->
  <div class="character">
  <img
    src="/img/characters/mateusz.jpg"
    alt="Mateusz"
    class="clearfix rightPic" />
  <div>
    <h2>???</h2>
    <p>Who the hell does he think he is???</p>
  </div>
  </div>
  <!-- Aleks -->
  <div class="character">
  <img
    src="/img/characters/aleks.jpg"
    alt="Aleks"
    class="clearfix rightPic" />
  <div>
    <h2>Aleks / Aleksandra</h2>
    <p>A mysterious and perhaps too charming rogue.</p>
  </div>
  </div>
  <!-- Justyna -->
  <div class="character">
  <img
    src="/img/characters/justyna.jpg"
    alt="Justyna"
    class="clearfix rightPic" />
  <div>
    <h2>Justyna</h2>
    <p>Vasilisa's wicked step-mother. Cruel, and unkind.</p>
  </div>
  </div>
  <!-- Basia -->
  <div class="character">
  <img
    src="/img/characters/basia.jpg"
    alt="Basia"
    class="clearfix rightPic" />
  <div>
    <h2>Basia</h2>
    <p>One of Vasilisa's cruel step-sisters.</p>
  </div>
</div>
<!-- Asia -->
<div class="character">
  <img
    src="/img/characters/asia.jpg"
    alt="Asia"
    class="clearfix rightPic" />
  <div>
    <h2>Asia</h2>
    <p>One of Vasilisa's cruel step-sisters.</p>
  </div>
</div>
<!-- Motanka -->
<div class="character">
  <img
    src="/img/characters/motanka.jpg"
    alt="Motanka"
    class="clearfix rightPic" />
  <div>
    <h2>Motanka</h2>
    <p>A gift from Vasilisa's mother. Just??? A doll???</p>
  </div>
</div>
</div>