---
title: Characters
layout: layouts/page.liquid
---
<p>These lil guys may or may not appear in this comic.</p>
<div class="characters">

  <div class="character">
<a href="https://scumsuck.com/characters/ollienbasile/liv"><img src="/img/characters/liv.png" alt="Liv" class="clearfix rightPic" /></a>
    <div>
      <h2>Liv</h2>
      <p>An average everyday girl! Reading yaoi, makin' yaoi, you know! Girl stuff! She is married to Sophie, and/or Basile, and/or Willem Dafoe.</p>
    </div>
  </div>

  <div class="character">
<a href="https://scumsuck.com/characters/ollienbasile/liv"><img src="/img/characters/sophie.png" alt="Sophie" class="clearfix rightPic" /></a>
    <div>
      <h2>Sophie</h2>
      <p>A BLU (Butch Lesbians United) Scout, more calm and thoughtful than Liv. People mistake them for sisters all the time.</p>
    </div>
  </div>


  <div class="character">
<a href="https://scumsuck.com/characters/ollienbasile/basile"><img src="/img/characters/basile.png" alt="Basile" class="clearfix rightPic" /></a>
    <div>
      <h2>Basile</h2>
      <p>A grumpy old guy who is also a beautiful woman. He's French and smokes too much.</p>
    </div>
  </div>


  <div class="character">
<a href="https://scumsuck.com/characters/ollienbasile/basile"><img src="/img/characters/basile2.png" alt="Latex Spy" class="clearfix rightPic" /></a>
    <div>
      <h2>Latex Spy</h2>
      <p>Basile's alternate persona is a sexy slinky spy in a latex body suit.</p>
    </div>
  </div>


  <div class="character">
<a href="https://dafoe.scumsuck.com/"><img src="/img/characters/willem.png" alt="Willem" class="clearfix rightPic" /></a>
    <div>
      <h2>Willem</h2>
      <p>An actor famous for his award-winning roles in Platoon and The Florida Project. Liv knows him for Spider-Man 2002.</p>
    </div>
  </div>

<div class="character">
<a href="https://scumsuck.com/characters/ronnie/"><img src="/img/characters/ronnie.png" alt="Lil' Ronnie"  class="clearfix rightPic"></a>
<div><h2>Lil' Ronnie</h2>
<p>An art student specializing in tactile clay sculpture.  She's a bit of an edgy scene kid.  Mr. Herbie is her favorite teacher.</p></div></div>

<div class="character">
<a href="https://scumsuck.com/characters/ronnie/"><img src="/img/characters/tiger.png" alt="Tiger Herbie"  class="clearfix rightPic"></a>
<div><h2>Tiger Herbie</h2>
<p>A sculpting teacher at Lil' Ronnie's art school.  He lost his eyesight in The War and looks cool in his glasses.</p></div></div>



</div>