---
title: Guestbook
layout: layouts/page.liquid
---

 <p>Leave a comment if you were moved to tears by the emotional gravity of my lesbian fujoshi comic.
             
<!-- begin wwww.htmlcommentbox.com -->

 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24oTBMJjwro6e94d4WXdbB%2F%2F"+"&opts=16798&num=10&ts=1670047380703");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->

<style>
#HCB_comment_box .hcb-comment-body, #HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name, #HCB_comment_box label, #HCB_comment_box #hcb_form #hcb_settings, #HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn  {
    font-size: 1.2em;
    font-family: unset;
    color: unset;
}
#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name{
color: black !important;
}
#HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn {
    background: var(--color-accent-alt);
}

</style>