{% comment %}
If you want to remove one of the navigation buttons, just remove one of the
`render` tags!
{% endcomment %}

{% assign next = collection | getNextCollectionItem: page %}

<div id="comicPage" class="paperDiv">
  {% for panel in images %}
    {% if next %}<a href="{{ next.url }}">{% endif %}
      <img src="{{ panel }}" alt="{{ alt }}" eleventy:ignore>
    {% if next %}</a>{% endif %}   
  {% endfor %}
</div>

{% render 'comicNav.liquid', collection: collection, page: page %}