<!--
The site's footer is handled in this include, so  
you don't have to copy/paste it onto every page

Feel free to replace the info below with copyright info,
or whatever text you'd like instead!
-->
<footer>
  <p>Powered by the <a href="https://github.com/katedee/eleventy-webcomic">eleventy-webcomic template</a></p>
</footer>
