<!--
The site's footer is handled in this include, so  
you don't have to copy/paste it onto every page

Feel free to replace the info below with copyright info,
or whatever text you'd like instead!

You might want to make note of the RSS link to keep handy.
It will be {your base url}/feed.xml

Example example.com/feed.xml
-->
<footer>
  <p><a href="{{ metadata.base }}/feed.xml">RSS</a></p>
  <p>Powered by the <a href="https://github.com/katedee/eleventy-webcomic">eleventy-webcomic template</a></p>
</footer>
