<footer>
  
  <p><em>Just Gorly Thingz by <a href="https://scumsuck.com">SCUMSUCK</a> © 2022-2025</em></p>
  <p><em>contact@scumsuck.com</em></p>
    <p>📖 <em><a href="https://store.scumsuck.com/products/867426-comic-just-gorly-thingz-a-lesbian-fujoshi-zine">support us by getting a PDF + physical zine!</a></em></p>

        <div class="social-media">

       <a href="https://blorbo.social/@scumsuck" target="_blank" rel="noopener noreferrer"><img src="https://scumsuck.com/images/frontpage/mastodon.svg" alt="mastodon logo"></a>

       <a href="https://bsky.app/profile/scumsuck.com" target="_blank" rel="noopener noreferrer"><img src="https://scumsuck.com/images/frontpage/Bluesky_Logo.svg" alt="bluesky logo"></a>

       <a href="https://instagram.com/skumsuck" target="_blank" rel="noopener noreferrer"><img src="https://scumsuck.com/images/frontpage/instagram.svg" alt="instagram logo"></a>

       <a href="https://tempural.tumblr.com" target="_blank" rel="noopener noreferrer"><img src="https://scumsuck.com/images/frontpage/tumblr.png" alt="tumblr logo"></a>       

      <a href="/rss.xml" target="_blank" rel="noopener noreferrer"><img src="https://scumsuck.com/images/frontpage/rss.png" alt="rss feed icon"></a>

        </div>

  <p><em>Powered by the <a href="https://github.com/katedee/eleventy-webcomic">eleventy-webcomic template</a></em></p>
</footer>
