<header>

<span class="comic-title">Just Gorly Things</span>
  <section class="warning"><img src="/img/warning.png" alt="warning symbol" style="float:left"><p>Just Gorly Things is a comic for adults.  There are bad words and discussions of cartoon buttholes.</p></section>

  <nav>
    <a href="/"><img src="/img/comicnav/index.png" alt="home page" /></a>

    <a href="/archive/"><img src="/img/comicnav/archive.png" alt="archive pagen" /></a>

    <a href="/about/"><img src="/img/comicnav/about.png" alt="about page" /></a>

    <a href="/characters/"><img src="/img/comicnav/characters.png" alt="characters page" /></a>
    <a href="/guestbook/"><img src="/img/comicnav/guestbook.png" alt="guestbook page" /></a>
  </nav>
</header>