<!--
The site's header is handled in this include, so  
you don't have to copy/paste it onto every page
-->
<header>
  <a href="/"><img src="/img/logo.png" alt="" /></a>

  <nav>
    <a href="/">Home</a>
    |
    <a href="/archive/">Archive</a>
    |
    <a href="/about/">About</a>
    |
    <a href="/characters/">Characters</a>
  </nav>
</header>